RewriteEngine On # Activer le module Rewrite
RewriteRule ^cities/?$ cities/getCities.php [NC,L]
RewriteRule ^cities/?$ cities/postCity.php [NC,L]
RewriteRule ^[^/]+/(\d+)/weather$ weathers/getWeathers.php?city_id=$1
RewriteRule ^[^/]+/(\d+)$ cities/getCity.php?city_id=$1